In [1]:
x = int(input("Enter number:"))
print("Number is= ", x)

Number is=  5

In [2]:
name = input("Enter your name:")
print("Name is ", name)

Name is  Mihad

In [3]:
PI = 3.1416
radius = float(input("Enter radius:"))
diameter = 2*radius
circumference = 2*PI*radius
area = PI*radius*radius
print("The Calculated area is= ", area)
print("the calculated diameter is= ", diameter)
print("The Calculated circumference is= ", circumference)

The Calculated area is=  18.095616
the calculated diameter is=  4.8
The Calculated circumference is=  15.07968

In [4]:
import statistics
numbers = [4,6,8,9,9,10,23,24,25,27]
print("Mean is= ", statistics.mean(numbers))
print("Median is = ", statistics.median(numbers))
print("Standard deviation is= ", statistics.stdev(numbers))

Mean is=  14.5
Median is =  9.5
Standard deviation is=  9.033886821911768

In [8]:
def CelciusToFahrenheit(c):
    f = c * (9/5) + 32
    print("The Fahrenheit value is= ", f)

CelciusToFahrenheit(float(input("Enter Celcius value=")))

The Fahrenheit value is=  68.0

In [11]:
oddNum = []
sum = 0
for i in range(1,150+1,2):
    oddNum.append(i)
    sum += i

print("Sum of odd numbers is= ", sum)
print(oddNum)

Sum of odd numbers is=  5625
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149]

In [15]:
year = int(input("Enter year="))

if year%400 == 0:
    print("Leap year")
elif (year%100 != 0) and (year%4 == 0):
    print("Leap Year")
else:
    print("Not leap year")

Leap Year

In [19]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack
stack.pop()
stack

[3, 4, 5, 6]

In [29]:
from collections import deque

queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
queue.popleft()
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [31]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [45]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(set(basket)):
    print(i)

apple
banana
orange
pear

In [40]:
basket

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [42]:
basket.sort()
basket

['apple', 'apple', 'banana', 'orange', 'orange', 'pear']

In [43]:
set(basket)

{'apple', 'banana', 'orange', 'pear'}

In [46]:
basket

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [47]:
sorted(basket)

['apple', 'apple', 'banana', 'orange', 'orange', 'pear']

In [48]:
basket

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [2]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [3]:
for i in range(1,21):
    print(5*i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [4]:
for i in range(5,101,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [6]:
odd = 0
i=1
while True:
    if odd>=20:
        break
    print(i)
    i+=2
    odd+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [9]:
def prime(num):
    count = 0
    for i in range(1,num+1):
        if(num%i==0):
            count+=1
    if count==2:
        return 1
    else:
        return 0

count =0
i=1
while True:
    if count>=20:
        break
    
    result = prime(i)
    if result == 1:
        count +=1
        print(i)
    
    i += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

In [14]:
a = 10
print((a))

0o12